.select {
  position: relative;
  user-select: none;
}

.selectOpen {
  z-index: 1;
}

.input {
  display: flex;
  align-items: center;
  padding: 14px 0;
  border: none;
  border-radius: 100px;
  letter-spacing: -0.015em;
  font-size: 1.12rem;
  list-style: none;
  font-weight: 400;
  color: rgba(46, 46, 46, 0.45);
  cursor: pointer;
  span {
    display: flex;
    align-items: center;
  }
  .icon {
    margin-left: 0.5rem;
  }
}

.input::-webkit-details-marker {
  display: none;
}

.selectOpen .input:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.input:focus {
  outline: none;
}

.list {
  position: absolute;
  background-color: #F9F8F6;
  border: 1px solid rgba(215, 213, 203, 1);
  list-style: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: -5%;
  padding: 24px;
  margin: 0;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  overflow-y: auto;
}
.list::-webkit-scrollbar {
  display: none;
}

.list li {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(46, 46, 46, 0.45);
  transition: all 150ms ease-in-out;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  input {
    margin: 0;
  }
  p {
    margin: 0;
    margin-left: 8px;
    padding: 0;
    padding-top: 2px;
  }
  &:first-child {
    margin-top: 0;
  }
}

.list li:hover {
  color: rgba(46, 46, 46, 0.88);
}

.radio {
  width: 16px;
  height: 16px;
  appearance: none;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px;
  transition: scale 100ms ease-in;
  cursor: pointer;
  &:checked {
    background-color: black;
    box-shadow: inset 0 0 0 2px #fff;
    scale: 1;
  }
}

.input {
}

.inputSelected {
  color: black;

  .icon {
    fill: black;
  }
}

.list {
  counter-reset: labels;
}

.list label {
  width: 100%;
  display: block;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .list {
    left: -35%;
  }
}

@media (max-width: 600px) {
  .input {
    font-size: 1.125rem;
  }
}
