.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Fraunces";
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  margin-left: 1rem;
  font-size: 1.1rem;
}

.links a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .container {
    padding: 1rem;
  }
}