.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem 2rem;
  width: 100%;
  background-color: #fff;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  margin-left: 2rem;
  font-size: 1rem;
  text-decoration: underline;
}

.links a:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .container {
    padding: 1rem;
  }

  .links {
    justify-content: space-between;
    width: 100%;
  }

  .links a:first-child {
    margin: 0;
  } 
}